#basic
fastapi
uvicorn
pydantic_settings
pydantic
sqlalchemy
asyncpg
alembic
psycopg2-binary
passlib
bcrypt<4.1
python-jose[cryptography]
google-auth
aiosmtplib
groq
httpx
email-validator
python-multipart
sqlglot
